<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="template.css" rel="stylesheet">
</head>
<body style="background-color: lightgrey;">

    <div class="container shadow-sm p-3 mb-5 bg-white rounded" style=" margin:50px 0px 0px 250px ; width:58%; height:75%; background-color: white; color:black;">

        <div class="row" style="">
            <div class="col-md-12" >
                <p style="font-size:15px; padding: 40px 20px 0px 20px;font-family: Myriad Pro, Lato, Helvetica Neue, Arial;">Hi <b>{{req_det.taker_name}},</b></p>
            </div>
            <div class="col-md-12" >
                <p style="font-size:15px; padding: 0px 20px 0px 20px;font-family: Myriad Pro, Lato, Helvetica Neue, Arial;">This is the receipt for a payment of <b>₹{{make.price}},</b> for your trip</p>
            </div>
        </div>

        <!---------------------------------------------payment  no & date ------------------------------------------------->

        <div class="row" style="">
            <div class="col-md-6" style="padding: 30px 20px 0px 30px;">
                <p style="font-size:15px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial;color: grey;">Payment No.</p>
            </div>
            <div class="col-md-6" style="padding: 40px 40px 0px 0px; text-align:right ;">
                <p style="font-size:15px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial;color: grey;">Payment Date</p>
            </div>

            <div class="col-md-6" style="padding: 0px 20px 0px 30px;">
                <p style="font-size:15px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial; font-weight: bold;">
                    {{req_det.payment_id}}</p>
            </div>
            <div class="col-md-6" style="padding: 0px 40px 0px 0px; text-align:right ;">
                <p style="font-size:15px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial; font-weight: bold;">{{req_det.pay_date}} - 12:20 pm</h3>
            </div>
        </div>
        <hr style="width:95%; margin-left: 23px;">


        <!--------------------------------------------- To & from Address ------------------------------------------------->


        <div class="row" style="">
            <div class="col-md-6" style="padding: 10px 20px 0px 30px;">
                <p style="font-size:15px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial;color: grey;">From</h3>
            </div>
            <div class="col-md-6" style="padding: 10px 40px 0px 0px; text-align:right ;">
                <p style="font-size:15px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial;color: grey;">Payment To</h3>
            </div>

            <div class="col-md-6" style="padding: 0px 20px 0px 30px;line-height: 0.7;">
                <p style="font-size:13px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial; font-weight: bold;">{{taker_details.taker_name}}</p>
                <p style="font-size:13px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial; ">{{taker_details.address}}</p>
                <p style="font-size:13px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial; ">{{taker_details.native}}</p>
                <p style="font-size:13px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial; ">Mob no :{{taker_details.mob_no}}</p>
                <p style="font-size:13px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial; ">Aaddhar : {{taker_details.aaddhar}}</p>

            </div>
            <div class="col-md-6" style="padding: 0px 40px 0px 0px; text-align:right;line-height: 0.7;">
                <p style="font-size:13px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial; font-weight: bold;">{{giver_details.giver_name}}</p>
                <p style="font-size:13px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial; ">{{giver_details.address}}</p>
                <p style="font-size:13px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial; ">{{giver_details.native}}</p>
                <p style="font-size:13px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial; ">Mob no :{{giver_details.mob_no}}</p>
                <p style="font-size:13px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial; ">Aaddhar : {{giver_details.aaddhar}}</p>
            </div>
        </div>


        <!-----------------------------------------------------------Tables ---------------------------------->


        <div class="row" style=" margin-top: 25px; width: 100%; ">
            <div class="col-md-3 " style="text-align:left;padding: 0px 20px 0px 30px;">
                <p style="margin-left:0px;font-size:15px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial;">Date</p>
            </div>
            <div class="col-md-3">
                <p style="font-size:15px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial;">Start</p>
            </div>
            <div class="col-md-3">
                <p style="font-size:15px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial;">Destination</p>
            </div>
            <div class="col-md-3" >
                <p style="font-size:15px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial; text-align: right;">Amount</p>
            </div>
            <hr style="width:95%; margin-left: 23px;">
        </div>


        <div class="row" style="width: 100%; ">
            <div class="col-md-3 " style="text-align:left;padding: 0px 20px 0px 30px;">
                <p style="margin-left:0px;font-size:15px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial; font-weight: bold;">{{req_det.date}}</p>
            </div>
            <div class="col-md-3">
                <p style="font-size:15px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial;font-weight: bold;">{{req_det.start}}</p>
            </div>
            <div class="col-md-3">
                <p style="font-size:15px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial;font-weight: bold;">{{req_det.destination}}</p>
            </div>
            <div class="col-md-3" >
                <p style="font-size:15px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial; text-align: right;font-weight: bold;">₹ {{make.price}}</p>
            </div>
            <hr style="width:95%; margin-left: 23px;">
        </div>


        <!-----------------------------------------------------Extra Notes -------------------------------------------------->

        <div class="row" style="">
            <div class="col-md-6" style="padding: 10px 20px 0px 30px;">
                <p style="font-size:15px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial; font-weight: bold;">Extra Notes</p>
                <p style="font-size:15px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial;">Please send all items at the same time to shipping address by next week. Thanks a lot.</p>
            </div>
            <div class="col-md-6" style="padding: 10px 40px 0px 0px; text-align:right ;">

                <div class="row" >
                    <div class="col-md-8" >
                        <p style="font-size:15px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial;color: grey;">Subtotal</p>
                    </div>
                    <div class="col-md-4" >
                        <p style="font-size:15px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial;color: grey;">₹ {{make.price}}</p>
                    </div>

                    <div class="col-md-8" >
                        <p style="font-size:15px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial;color: grey;">GST%</p>
                    </div>
                    <div class="col-md-4" >
                        <p style="font-size:15px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial;color: grey;">6</p>
                    </div>

                    <div class="col-md-8" >
                        <p style="font-size:15px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial;color: grey;">Discount</p>
                    </div>
                    <div class="col-md-4" >
                        <p style="font-size:15px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial;color: grey;">₹ 0.00</p>
                    </div>

                    <div class="col-md-8" >
                        <p style="font-size:15px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial;color: grey;">Total</p>
                    </div>
                    <div class="col-md-4" >
                        <p style="font-size:15px; font-family: Myriad Pro, Lato, Helvetica Neue, Arial;color: grey;">₹ {{total_amount}}</h3>
                    </div>
                </div>

            </div>
        </div>

        <a href="/taker_home" class="btn btn-light" style="margin-left:450px;"> Home</a>



    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>